* {
  transition: all 0.25s ease;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $textFont;
  font-weight: 100;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  font-weight: 100;
  font-size: 1.2em;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.sectionTitle {
  font-size: 3em;
}

.bigIcon {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 4em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: 2px solid #fff;
  border-radius: 100%;
}

// Navigation

@media only screen and (min-width: 825px) {

  #nav {
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #141619;
    animation: nav-appear 3s ease;
    -webkit-animation: nav-appear 3s ease;
    z-index: 1000;

    h1 {
      display: inline;
      margin: 0 0 0 45px;
      float: left;
      line-height: 75px;
      letter-spacing: 10px;
      color: #fff;
    }

    ul {
      padding: 0;
      margin: 0 45px 0 0;
      float: right;
      width: auto;
      height: 75px;

      a {
        display: inline-block;
        height: 75px;
        text-decoration: none;
        color: #fff;

        &:hover {
          color:#033784;
        }

        &:visited {
          border: none;
        }
      }

      li {
        height: 75px;
        display: inline;
        padding: 0 45px 0 45px;
        list-style-type: none;
        line-height: 75px;
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 824px) {

  #nav {
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #141619;
    z-index: 9999;

    h1 {
      display: inline;
      margin: 0 0 0 45px;
      line-height: 75px;
      letter-spacing: 10px;
      color: #fff;
    }

    .nav-toggle {
      float: right;
      margin: 0 45px 0 0;
      font-size: 3em;
      line-height: 75px;
      color: #fff;
    }

    ul {
      background-color: #141619;
      margin: 0;
      position: absolute;

      a {
        height: 75px;
        text-decoration: none;
        color: #fff;
      }

      li {
        height: 75px;
        padding: 0 45px 0 0;
        list-style-type: none;
        font-size: 1.5em;
        line-height: 75px;
        text-align: center;
      }
    }
  }
}

#intro {
  padding: 14em 0 14em;
  background-image: url(../img/overlay.png),url(../img/bgNew.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  background-attachment: fixed;
  background-color: #26292f;
  color: #fff;
  height: 100%;

  h1 {
    margin: 0;
    text-align: center;
    font-size: 5em;
    font-weight: 100;
    letter-spacing: 15px;
    animation: appear 3s ease;
    -webkit-animation: appear 3s ease;
    position: relative;
  }

  p {
    text-align: center;
    position: relative;
    font-size: 2em;
    animation: appear 3.5s ease;
    -webkit-animation: appear 3.5s ease;
  }

  .button {
    display: block;
    position: relative;
    width: 300px;
    margin: auto;
    font-size: 2em;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    line-height: 75px;
    animation: appear 4s ease;
    -webkit-animation: appear 4s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    a {
      display: inline-block;
      height: 75px;
      width: 100%;
      text-decoration: none;
      color: #fff;
    }
  }
}

#about {
  margin: 0;
  padding-top: 50px;
  color: #fff;
  background-color: #3BA666;
  background-image: linear-gradient(45deg, #033784 50%, #033475 50%);

  h1 {
    text-align: center;
  }

  p {
    font-size: 1.5em;
  }
}

#products {
  padding-top: 50px;

  figcaption {
    text-align: center;
  }

  p {
    margin-top: 2em;
    font-size: 2em;
    text-align: center;
  }
}

#team  {
  padding-top: 50px;

  p {
    font-size: 1.5em;
  }
}

#footer {
  padding-top: 50px;
  color: #fff;
  background-color: #202222;

  p {
    color: #888;
  }

  a {
    font-size: 3em;
    width: 100%;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #888;
    text-decoration: none;
  }

  .socialList {
    text-align: center;
    display: table;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    height: 2em;

    ul {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    li {
      display: inline;
      text-align: center;
      margin-right: 20px;
      float: left;
      border: 1px solid #888;
      border-radius: 100%;
      width: 5em;
      height: 5em;

      &:hover {
        border-color: #033475;

        a {
          color: #033475;
        }
      }
    }
  }

  h2 {
    text-align: center;
  }

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  .address-container {
    display: table;
  }

  .address {
    margin: auto;
    display: table;
    list-style-type: none;

    a {
      font-size: 1em;
      display: inline;
      line-height: 1em;
      color: #fff;
    }

    .email {
      text-align: center;
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid #fff;
    }
  }
}

@media only screen and (max-width: 824px) {

  #intro {
    padding: 10em 0 14em;
  }

  .socialList {

    li {
      margin-right: 20px;
      float: left;
      border: 1px solid #888;
      border-radius: 100%;
      width: 3em;
      height: 3em;
    }
  }
}

@media only screen and (max-width: 480px) {

  #nav {
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #141619;
    z-index: 9999;

    h1 {
      display: inline;
      margin: 0 0 0 45px;
      line-height: 75px;
      letter-spacing: 10px;
      color: #fff;
    }

    .nav-toggle {
      float: right;
      margin: 0 45px 0 0;
      font-size: 3em;
      line-height: 75px;
      color: #fff;
    }

    ul {
      background-color: #141619;
      margin: 0;
      position: absolute;

      a {
        height: 75px;
        text-decoration: none;
        color: #fff;
      }

      li {
        height: 50px;
        padding: 0 45px 0 0;
        list-style-type: none;
        font-size: 1.5em;
        line-height: 50px;
        text-align: center;
      }
    }
  }
}
